################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibraryTest/.vs/ClassLibraryTest/v15/Server/sqlite3
